/* info bimbingan */
.next-bimbingan-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    max-width: 400px;
    float: right;
}

.info-label {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.info-value {
    font-size: 15px;
    color: #555;
    margin-bottom: 15px;
}

.topic-section h5 {
    font-weight: 700;
    color: #333;
    font-size: 16px;
}

.topic-section p {
    font-size: 18px;
    font-weight: 600;
    color: #444;
    max-width: 600px;
    line-height: 1.5;
}

/* menu */
.menu-card-mhs {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 30px;
    background: white;
    height: 100%;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.menu-card-mhs:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    border-color: #333;
}

.menu-icon-large {
    font-size: 4rem;
    color: #212529;
    margin-bottom: 20px;
}