body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px 40px;
    background: #fff;
}

/* TOP BAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

/* --- FLEX WRAPPER UNTUK JUDUL & COUNTDOWN --- */
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.header-left {
    max-width: 60%;
}

.next-box {
    border: 1px solid #ddd;
    padding: 18px 20px;
    border-radius: 12px;
    width: 330px;
    background: #fafafa;
    font-size: 15px;
}

.menu-title-top {
    margin-top: 40px;
}

/* MENU */
.menu-container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.menu-card {
    border: 1px solid #ddd;
    width: 250px;
    padding: 25px;
    border-radius: 12px;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
}

.menu-card:hover {
    background: #f5f5f5;
}

.menu-title {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
}

.menu-desc {
    font-size: 14px;
    color: #555;
    margin-top: 6px;
    line-height: 1.4;
}

.icon {
    width: 50px;
    height: 50px;
}
