body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.sidebar {
    width: 60px;                    
    height: 100vh;
    background-color: white;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    gap: 35px;                      
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar-logo {
    width: 40px;   
    margin-bottom: 15px;
}

.sidebar-icon i {
    font-size: 26px;                
    color: black;                   
    transition: 0.2s ease;
}

.sidebar-icon:hover i {
    color: #444;                   
}

.sidebar-icon.active i {
    color: black;
    font-weight: bold;
}

.header {
    margin-left: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.notif-icon {
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.notif-icon:hover {
    color: #555;
}

.logout {
    text-decoration: none;
    color: black;
}

.content-area {
    margin-left: 60px;
    padding: 20px 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.06);
}

.list-header {
    margin-bottom: 10px;
}

.list-header h2 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

.table-mahasiswa {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 15px;
    table-layout: fixed; 
}

.table-mahasiswa thead th {
    background-color: #fafafa;
    font-weight: 600;
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.table-mahasiswa tbody td {
    padding: 12px 16px;
    border-bottom: 1px solid #f0f0f0;
}

.table-mahasiswa tbody tr:hover td {
    background-color: #f8f8f8;
}

.cell-name .name {
    font-weight: 500;
}

.cell-name .npm {
    font-size: 12px;
    color: #777;
}

/*fix tacle*/
.table-mahasiswa th:nth-child(1),
.table-mahasiswa td:nth-child(1) {
    width: 32%;
}

.table-mahasiswa th:nth-child(2),
.table-mahasiswa td:nth-child(2) {
    width: 12%;
}

.table-mahasiswa th:nth-child(3),
.table-mahasiswa td:nth-child(3) {
    width: 18%;
}

.table-mahasiswa th:nth-child(4),
.table-mahasiswa td:nth-child(4) {
    width: 18%;
}

.table-mahasiswa th:nth-child(5),
.table-mahasiswa td:nth-child(5) {
    width: 10%;
    text-align: center !important;
}

.cell-actions {
    white-space: nowrap;
    text-align: center;
}

.btn-reject,
.btn-accept {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
}

.btn-reject i {
    color: #cc3333;
}

.btn-reject:hover i {
    color: #ff0000;
}

.btn-accept i {
    color: #1c8c3a;
}

.btn-accept:hover i {
    color: #00b347;
}