/* body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* header */
.header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-logo {
    width: 38px;
    height: auto;
}

.header h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.notif-icon {
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.notif-icon:hover {
    color: #555;
}

.logout {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

/* content area */
.content-area {
    padding: 30px 40px;
}

/* title */
.page-title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
}

.section-title {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: 600;
}

/* bagian bar biru */
.stats-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    background-color: #001DB1;
    border-radius: 10px;
    padding: 15px;
}

.stat-card {
    flex: 1;
    background: rgb(202, 215, 255);
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.06);
}

.stat-label {
    margin: 0;
    font-size: 15px;
    opacity: 0.8;
}

.stat-value {
    font-size: 36px;
    font-weight: bold;
    margin-top: 8px;
}

/* button buat cek pengajuan */
.stat-card a {
    display: inline-block;
    margin-top: 12px;
    padding: 6px 14px;
    font-size: 13px;
    background-color: #001DB1;
    color: white;
    border: 1.5px solid #001DB1;
    border-radius: 8px;

    text-decoration: none;
    font-weight: 600;

    transition: 0.2s ease;
}

.stat-card a:hover {
    background-color: rgb(202, 215, 255);
    color: #001DB1;
}

/* menu card */
.menu-wrapper {
    display: flex;
    gap: 25px;
}

.menu-card {
    flex: 1;
    position: relative;
    background: white;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.06);
    display: flex;
    gap: 18px;
    align-items: center;
    transition: transform 0.2s;
}

.menu-card:hover {
    transform: translateY(-5px);
}

.menu-icon i {
    font-size: 36px;
    color: #0047bb;
}

.menu-text h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.menu-text p {
    margin: 3px 0 0;
    font-size: 13px;
    color: #777;
}

/* FULL CARD CLICKABLE */
.menu-link {
    position: absolute;
    inset: 0;
    cursor: pointer;
}
