body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.sidebar {
    width: 60px;                    
    height: 100vh;
    background-color: white;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    gap: 35px;                      
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar-logo {
    width: 40px;   
    margin-bottom: 15px;
}

.sidebar-icon i {
    font-size: 26px;                
    color: black;                   
    transition: 0.2s ease;
}

.sidebar-icon:hover i {
    color: #444;                   
}

.sidebar-icon.active i {
    color: black;
    font-weight: bold;
}

.header {
    margin-left: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.notif-icon {
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.notif-icon:hover {
    color: #555;
}

.logout {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.content {
    margin-left: 60px;
    margin-top: 15px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn-edit-main {
    background-color: #001db1;
    color: white;
    padding: 7px 18px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.btn-edit-main:hover {
    background-color: #4059d7;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12);
    border-radius: 6px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th {
    background-color: #f9f9f9;
    font-weight: 600;
}
