<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Riwayat Bimbingan</title>
    <link rel="stylesheet" href="../../static/Css/Admin/riwayat-bimbingan.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div class="sidebar">
    <img src="../../static/Images/LogoUnpar.png" class="sidebar-logo" alt="Logo Unpar">

    <a href="DashboardAdmin.html" class="sidebar-icon" title="Home">
        <i class="fa-solid fa-house"></i>
    </a>
    <a href="riwayat-bimbingan.html" class="sidebar-icon active" title="Riwayat Bimbingan">
        <i class="fa-regular fa-clock"></i>
    </a>
    <a href="kelola-jadwal-&-ruangan.html" class="sidebar-icon" title="Jadwal &amp; Ruangan">
        <i class="fa-regular fa-calendar-days"></i>
    </a>
    <a href="persyaratan-sidang.html" class="sidebar-icon" title="Persyaratan Sidang">
        <i class="fa-regular fa-file-circle-check"></i>
    </a>
    <a href="kelola-data-mhs-&-dosen.html" class="sidebar-icon" title="Kelola Data Mhs &amp; Dosen">
        <i class="fa-regular fa-file-lines"></i>
    </a>
    <a href="periode-TA.html" class="sidebar-icon" title="Periode TA">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>
</div>

<div class="header">
    <h3 class="app-title">SIAP Bimbingan</h3>

    <div class="header-right">
        <i class="fa-regular fa-bell notif-icon"></i>
        <a href="#" class="logout">Logout</a>
    </div>
</div>

<div class="content-area">
    <h1 class="page-title">Riwayat Bimbingan Mahasiswa</h1>

    <div class="card">
        <table class="table-admin">
            <thead>
            <tr>
                <th>Kode</th>
                <th>Topik</th>
                <th>Tanggal</th>
                <th>Jam</th>
                <th>Main Note</th>
                <th>Dosen</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>KAL5902BCS</td>
                <td>
                    <div class="cell-topic">
                        <span class="title">Pembangunan Perangkat Lunak Kompresi File</span>
                        <span class="subtitle">Algoritma LZW dan Huffman Coding</span>
                    </div>
                </td>
                <td>Selasa, 9 Oktober 2025</td>
                <td>10:00 - 12:00</td>
                <td>
                    <ul class="note-list">
                        <li>RKS baru akan dibangun</li>
                        <li>Skripsi fokus ke eksperimen bukan pembangunan perangkat lunak</li>
                    </ul>
                </td>
                <td>20160127 Keenan Adiwijaya Leman, S.T., M.T.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
