body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid #ddd;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logo {
  width: 38px;
}

.header h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.notif-icon {
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.logout {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.content-area {
  padding: 30px 40px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 600;
}

.section-title {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 600;
}

.stats-wrapper {
  display: flex;
  gap: 20px;
  background-color: #001DB1;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.stat-card {
  flex: 1;
  background: rgb(202, 215, 255);
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.stat-label {
  font-size: 15px;
  opacity: 0.8;
  margin: 0;
}

.stat-value {
  font-size: 36px;
  font-weight: bold;
  margin-top: 8px;
}

.menu-wrapper {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.menu-card {
  flex: 1;
  min-width: 260px;
  background: white;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  display: flex;
  gap: 18px;
  align-items: center;
  position: relative;
  transition: transform 0.2s;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-icon i {
  font-size: 36px;
  color: #0047bb;
}

.menu-text h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.menu-text p {
  margin: 3px 0 0;
  font-size: 13px;
  color: #777;
}

.menu-link {
  position: absolute;
  inset: 0;
}

.notif-badge {
  display: none !important;
}

.notif-icon::after {
  display: none !important;
  content: none !important;
}