<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifikasi</title>
    <link rel="stylesheet" href="../../static/Css/Layout/panelNotif.css">
</head>

<body>
    <div id="notif-panel" class="notif-panel">
        <h3>Notifikasi</h3>

        <div class="notif-item">
            <h4>Pengajuan bimbingan diterima</h4>
            <p>Mahasiswa mengajukan permintaan bimbingan baru.</p>
        </div>

        <div class="notif-item">
            <h4>Permintaan Pengajuan Bimbingan</h4>
            <p>Silakan cek halaman pengajuan bimbingan.</p>
        </div>
    </div>

    <div id="notif-overlay" class="notif-overlay"></div>
</body>
</html>
