<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Mahasiswa</title>
    <link rel="stylesheet" th:href="@{/Css/Dosen/listMhs.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/Css/Layout/panelnotif.css}">
    <script th:src="@{/Js/notif.js}" defer></script>
</head>
<body>

    <div class="sidebar">
        <img th:src="@{/Images/LogoUnpar.png}" class="sidebar-logo">

        <a th:href="@{/dosen/dashboard}" class="sidebar-icon active" title="Home">
            <i class="fa-solid fa-house"></i>
        </a>

        <a th:href="@{/dosen/jadwal-bimbingan}"  class="sidebar-icon" title="Jadwal">
            <i class="fa-regular fa-clock"></i>
        </a>

        <a th:href="@{/dosen/daftar-mahasiswa}" class="sidebar-icon" title="Laporan">
            <i class="fa-regular fa-file-lines"></i>
        </a>
    </div>

    <div class="header">
        <h3>SIAP Bimbingan</h3>

        <div class="header-right">
            <div style="position: relative;">
                <i class="fa-regular fa-bell notif-icon" onclick="openNotif()"></i>
                <span th:if="${notifList != null and notifList.size() > 0}"
                    class="notif-badge"
                    th:text="${notifList.size()}"></span>
            </div>
            <a th:href="@{/dosen/logout}" class="logout">Logout</a>
        </div>
    </div>


    <div class="content-area">
        <div class="card">

            <div class="list-header">
                <h2>Mahasiswa Bimbingan</h2>
            </div>

            <table class="table-mahasiswa">
                <thead>
                <tr>
                    <th style="text-align:left;">Mahasiswa</th>
                    <th style="text-align:left;">Email address</th>
                    <th style="text-align:center; width:100px;">Aksi</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="mhs : ${mahasiswaList}">
                    <td>
                        <div class="cell-name">
                            <div class="name" th:text="${mhs.nama}">Anggia Tejaningtyas Yudha Negara</div>
                            <div class="npm" th:text="${mhs.npm}">6182201080</div>
                        </div>
                    </td>
                    <td th:text="${mhs.email}">6182201080@unpar.ac.id</td>
                    <td class="cell-actions">
                        <form th:action="@{/dosen/mahasiswa/hapus/{id}(id=${mhs.idMhs})}" method="post"
                            onsubmit="return confirm('Yakin hapus mahasiswa ini?')">

                            <button type="submit" class="btn-icon">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </form>

                        <a th:href="@{/dosen/mahasiswa/detail/{id}(id=${mhs.idMhs})}"
                            class="btn-detail">
                            Detail
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="~{Layout/panelnotif}"></div>
    </div>
</body>
</html>
