<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard Dosen</title>
    <link rel="stylesheet" href="/Css/Dosen/dashboard-dosen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/Css/Layout/panelnotif.css">
    <script src="/js/notif.js" defer></script>
</head>
<body>

    <div class="header">
        <div class="header-left">
            <img src="/Images/LogoUnpar.png" class="header-logo">
            <h3>SIAP Bimbingan</h3>
        </div>

        <div class="header-right">
            <div style="position: relative;">
                <i class="fa-regular fa-bell notif-icon" onclick="openNotif()"></i>
                <span th:if="${notifList.size() > 0}"
                    class="notif-badge"
                    th:text="${notifList.size()}"></span>
            </div>
            <a href="/logout" class="logout">Logout</a>
        </div>
    </div>

    <div class="content-area">

        <h2 class="page-title">Dashboard Dosen</h2>

        <div class="stats-wrapper">
            <div class="stat-card">
                <p class="stat-label">Jumlah Mahasiswa Bimbingan</p>
                <div class="stat-value" th:text="${jumlahMahasiswa}">0</div>
            </div>
            <div class="stat-card">
                <p class="stat-label">Pengajuan Bimbingan</p>
                <div class="stat-value" th:text="${totalPengajuan}">0</div>
                <a th:href="@{/dosen/pengajuan}">Cek</a>
            </div>
        </div>

        <h3 class="section-title">Menu</h3>

        <div class="menu-wrapper">
            <div class="menu-card">
                <div class="menu-icon">
                    <i class="fa-regular fa-clock"></i>
                </div>
                <div class="menu-text">
                    <h4>Jadwal</h4>
                    <p>Atur jadwal Anda.</p>
                </div>
                <a href="kelola-jadwal.html" class="menu-link"></a>
            </div>

            <div class="menu-card">
                <div class="menu-icon">
                    <i class="fa-regular fa-address-book"></i>
                </div>
                <div class="menu-text">
                    <h4>Daftar Mahasiswa</h4>
                    <p>Lihat daftar mahasiswa bimbingan.</p>
                </div>
                <a th:href="@{/dosen/daftar-mahasiswa}" class="menu-link"></a>
            </div>
        </div>

        <div th:replace="~{Layout/panelnotif}"></div>
    </div>

</body>
</html>
