<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Mahasiswa</title>
    <link rel="stylesheet" href="/static/Css/Dosen/detail-mhs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <img src="/static/Images/LogoUnpar.png" class="sidebar-logo">

        <a href="#" class="sidebar-icon active" title="Home">
            <i class="fa-solid fa-house"></i>
        </a>

        <a href="#" class="sidebar-icon" title="Jadwal">
            <i class="fa-regular fa-clock"></i>
        </a>

        <a href="#" class="sidebar-icon" title="Laporan">
            <i class="fa-regular fa-file-lines"></i>
        </a>
    </div>


    <div class="header">
        <h3>SIAP Bimbingan</h3>

        <div class="header-right">
            <i class="fa-regular fa-bell notif-icon"></i>
            <a href="#" class="logout">Logout</a>
        </div>
    </div>

    <div class="content-area">
        <div class="back-btn">
            <a href="daftar-mhs.html"><i class="fa-solid fa-arrow-left"></i>Kembali ke Daftar Mahasiswa</a>
        </div>

        <div class="mhs-info">
            <h2>Anggia Tejaningtyas Yudha Negara</h3>
            <p>6182201080@unpar.ac.id</p>
        </div>

        <div class="topik-info">
            <h2>Pembangunan Perangkat Lunak Kompresi File dengan Algoritma LZW dan Huffman Coding</h2>
        </div>

        <div class="card-bimbingan">
            <table class="table-mahasiswa">
                <thead>
                <tr>
                    <th style="text-align:left;">Tanggal</th>
                    <th style="text-align:left;">Jam</th>
                    <th style="text-align:left;">Materi</th>
                    <th style="text-align:center; width:100px;">Aksi</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>20 Oktober 2025</td>
                    <td>10.00 - 11.00</td>
                    <td>Membuat Mock Up</td>
                    <td style="text-align:center"><button class="btn-detail">Detail</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>