<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Mahasiswa</title>
    <link rel="stylesheet" th:href="@{/Css/Dosen/detail-mhs.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/Css/Layout/panelnotif.css}">
    <script th:src="@{/Js/notif.js}" defer></script>
</head>
<body>
    <div class="sidebar">
        <img th:src="@{/Images/LogoUnpar.png}" class="sidebar-logo">

        <a th:href="@{/dosen/dashboard}" class="sidebar-icon active" title="Home">
            <i class="fa-solid fa-house"></i>
        </a>

        <a th:href="@{/dosen/jadwal-bimbingan}"  class="sidebar-icon" title="Jadwal">
            <i class="fa-regular fa-clock"></i>
        </a>

        <a th:href="@{/dosen/daftar-mahasiswa}" class="sidebar-icon" title="Laporan">
            <i class="fa-regular fa-file-lines"></i>
        </a>
    </div>


    <div class="header">
        <h3>SIAP Bimbingan</h3>

        <div class="header-right">
            <div style="position: relative;">
                <i class="fa-regular fa-bell notif-icon" onclick="openNotif()"></i>
                <span th:if="${notifList != null and notifList.size() > 0}"
                    class="notif-badge"
                    th:text="${notifList.size()}"></span>
            </div>
            <a th:href="@{/dosen/logout}" class="logout">Logout</a>
        </div>
    </div>

    <div class="content-area">
        <div class="back-btn">
            <a th:href="@{/dosen/daftar-mahasiswa}">
                <i class="fa-solid fa-arrow-left"></i> Kembali ke Daftar Mahasiswa
            </a>
        </div>

        <div class="mhs-info">
            <h2 th:text="${mhs.nama}">Nama Mahasiswa</h2>
            <p th:text="${mhs.email}">6182201080@unpar.ac.id</p>
        </div>

        <div class="topik-info">
            <h2 th:text="${topikTA}">Topik TA</h2>
        </div>

        <div class="card-bimbingan">
            <table class="table-mahasiswa">
                <thead>
                <tr>
                    <th style="text-align:left;">Tanggal</th>
                    <th style="text-align:left;">Jam</th>
                    <th style="text-align:left;">Materi</th>
                    <th style="text-align:center; width:100px;">Aksi</th>
                </tr>
                </thead>

                <tbody>
                <tr th:if="${riwayatList == null or riwayatList.size() == 0}">
                    <td colspan="4" style="text-align:center;">Belum ada bimbingan</td>
                </tr>
                <tr th:if="${riwayatList != null}" th:each="row : ${riwayatList}">
                    <td th:text="${#temporals.format(row.tanggal, 'dd MMM yyyy')}"></td>
                    <td>
                        <span th:text="${row.waktuMulai}"></span> -
                        <span th:text="${row.waktuSelesai}"></span>
                    </td>
                    <td>-</td>
                    <td style="text-align:center"><a th:href="@{/dosen/bimbingan/{id}(id=${row.idJadwal})}" class="btn-detail">Detail</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="~{Layout/panelnotif}"></div>
    </div>

</body>
</html>