<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jadwal Mengajar</title>
    <link rel="stylesheet" href="../../static/Css/Dosen/jadwalAjar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <div class="sidebar">
        <img src="../../static/Images/LogoUnpar.png" class="sidebar-logo">

        <a href="#" class="sidebar-icon active" title="Home">
            <i class="fa-solid fa-house"></i>
        </a>

        <a href="#" class="sidebar-icon" title="Jadwal">
            <i class="fa-regular fa-clock"></i>
        </a>

        <a href="#" class="sidebar-icon" title="Laporan">
            <i class="fa-regular fa-file-lines"></i>
        </a>
    </div>


    <div class="header">
        <h3>SIAP Bimbingan</h3>

        <div class="header-right">
            <i class="fa-regular fa-bell notif-icon" onclick="openNotif()"></i>
            <a href="#" class="logout">Logout</a>
        </div>
    </div>

    <div id="notif-container"></div>

    <div class="content">
        <div class="card">
            <div class="card-header">
                <h2>Jadwal Mengajar</h2>
                <button class="btn-edit-main">Ubah Jadwal</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Hari</th>
                        <th>Waktu</th>
                        <th>Mata Kuliah</th>
                        <th>Kelas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Senin</td>
                        <td>08.00 - 10.00</td>
                        <td>Pemrograman Web</td>
                        <td>C</td>
                    </tr>
                    <tr>
                        <td>Rabu</td>
                        <td>10.00 - 12.00</td>
                        <td>Basis Data</td>
                        <td>A</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        fetch("../Layout/panelNotif.html")
            .then(res => res.text())
            .then(html => {
                document.getElementById("notif-container").innerHTML = html;
            });

        function openNotif() {
            const panel = document.getElementById("notif-panel");
            const overlay = document.getElementById("notif-overlay");

            panel.classList.add("open");
            overlay.style.display = "block";

            overlay.onclick = () => closeNotif();
        }

        function closeNotif() {
            const panel = document.getElementById("notif-panel");
            const overlay = document.getElementById("notif-overlay");

            panel.classList.remove("open");
            overlay.style.display = "none";
        }
    </script>
</body>
</html>
